

  <%= render"books/new",book:@book,user:@user %>

 <div class = "col-md-8 offset-md-1">
  <h2>Books</h2>
   <table class = "table table-hover table-inverse">
     <thead>
       <tr>
         <th></th>
         <th>本のタイトル</th>
         <th>感想</th>
       </tr>
     </thead>
     <tbody>
      <% @books.each do |book| %>
       <td>
          <p><%= image_tag book.user.get_profile_image(100,100) %></p>
       </td>
       <td>
          <p><%=link_to book.title,book_path(book.id) %></p>
       </td>
       <td>
          <p><%= book.body %></p>
       </td>
     </tbody>
     <% end %>
   </table>
 </div>
