
<div>
 <h2>User info</h2>
  <%= image_tag user.get_profile_image(100,100) %>
  <h3><%= user.name %></h3>
  <h3>intro<%= user.introduction %></h3>
  <p><%= link_to"Edit",edit_user_path %></p>
</div>

