<div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
  

      
    
        <h1 class ="mb-0.5">welcom to <i class="fas fa-book"></i><strong>Bookers!!</strong></h1>
        <p class ="mb-2">In <i class="fas fa-book"></i></i><strong>Bookers,</strong></p>
        <p class ="mb-2">you can share and exchenge your opinions,inpresions,and emotions</p>
        <p>about various books!</p>
    
    
        <div class ="btn-wrapper col-10 mx-auto">
          <div class = "row mb-3">
             <%= link_to "Log in",new_user_session_path, class:"btn btn-sm btn-block btn-info mb-3" %><br>
             <%= link_to "Sign up",new_user_registration_path, class:"btn btn-sm btn-block btn-success mb-3" %>
          </div>
        </div>
    
</div>


