
<%= render"books/list",user:@user %>

<h2>Books</h2>

<% @books.each do |book| %>
<div>
  <p>image：<%= image_tag book.user.get_profile_image(100,100) %></p>
  <p>Title：<%= book.title %></p>
  <p>Opinion：<%= book.body %></p>

</div>
<% end %>

